<div style="margin: 0 2vw;">
    <mat-tab-group>
        <mat-tab label="Classes">
            <div>
                <h4>Classes</h4>
            </div>
        </mat-tab>
        <mat-tab label="Subclasses">
            <div>
                <h4>Subclasses</h4>
            </div>
        </mat-tab>
        <mat-tab label="Races">
            <div>
                <h4>Races</h4>
            </div>
        </mat-tab>
        <mat-tab label="Backgrounds">
            <div>
                <h4>Backgrounds</h4>
            </div>
        </mat-tab>
        <mat-tab label="Features">
            <div>
                <h4>Features</h4>
            </div>
        </mat-tab>
        <mat-tab label="Skills">
            <div>
                <h4>Skills</h4>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>