<div style="margin: 0 2vw;">
    <mat-tab-group>
        <mat-tab label="All Items">
            <div>
                <h4>All Items</h4>
            </div>
        </mat-tab>
        <mat-tab label="DnD Items">
            <div>
                <h4>DnD Items</h4>
            </div>
        </mat-tab>
        <mat-tab label="PFSRD Items">
            <div>
                <h4>Pathfinder Items</h4>
            </div>
        </mat-tab>
        <mat-tab label="Other Items">
            <div>
                <h4>Other Items</h4>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
